/*

My Custom CSS
=============

Author:  Jeremy Miragliotta
Updated: February 2015
Notes:	 Hand coded for jmigsdesign.com
*/

/* Color Pallete
	
	Links: #fff
	Hover Links : #959595
	


/* --------------------------------------
    Misc. Layout
   -------------------------------------- */
	#inputMessage {
		margin-bottom: 15px;
	}
		
	footer {
		background: #282828;
		color: #eee;
		font-size: 11px;
		padding: 20px;
	}
  
	
	.dl-horizontal dt{
		width: 30%;
	}	
	
	.dl-horizontal dd{
		margin-left: 39%;
	}	
	
	.dl-index dt{
   		color: #333;
   		width:40%;
   		font-weight: normal;
   		margin-left: 30px;
   	}

   	.dl-index dt:first-child{
   		font-weight: bold;
   	}

   	.dl-index dd{
   		color: #333;
   		width:45%;
   		padding-left: 55px;
   	}

	.about {
		margin: 0 0 8px;
	}
	
	
	
	
	
/* --------------------------------------
   Typography
   -------------------------------------- */
   body {
	   font-family: 'Quattrocento Sans', sans-serif;
	   
   }
   
   h1, h2, h3, h4, h5, h6{
	   font-family: 'Quattrocento Sans', sans-serif;
	   font-weight: 700;
   }
   
   .lead, article {
	   font-family: 'Quattrocento Sans', sans-serif;
	   color: #fff;
   }
   
   .well .page-header {
	   margin-top: 0;
	   padding: 0;
   }
   
   .well .page-header h3 {
	   margin-top: 0;
   }

   ul.unstyled {
	   list-style: none;
	   padding: 0;
   }
 

   dl {
	   font-family: 'Quattrocento Sans', sans-serif;
	   color: #fff;
	   text-align: left;
   }

   .carousel-h4{
	   margin: 0;
   }

  	.education-header {
  		font-size: 16px;
  		font-weight: bolder;
  	}
   
   .panel ul {
   		color: #fff;
   		list-style: none;
   		padding-left: 0;
   }
   
   
/* --------------------------------------
   Navbar
   -------------------------------------- */  

   .navbar-custom {
	    font-family: 'Quattrocento Sans', sans-serif;
	    font-weight:700;
	    background-color: #282828;
	    color: #fff;
   } 
   
   .navbar-custom .navbar-nav > li > a {
  	color:#fff;
   }

   .navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #959595;
	}

	.navbar .nav > li.dropdown.open.active > a:hover, 
	.navbar .nav > li.dropdown.open > a{
		color: #959595;
		background-color: #313131;
	}
	
   .dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
	   background-image: none;
	   background: #282828;
   }
 
   .navbar-nav > .dropdown > a:hover .caret,
   .navbar-nav > .dropdown > a:focus .caret {
	  border-top-color: #959595;
	  border-bottom-color: #959595;
	  
	  }

	.navbar-nav > .open > a .caret,
	.navbar-nav > .open > a:hover .caret,
	.navbar-nav > .open > a:focus .caret {
	  border-top-color: #959595;
	  border-bottom-color: #959595;
	}
	
	.navbar-nav > .dropdown > a .caret {
	  border-top-color: #fff;
	  border-bottom-color: #fff;
	}
       
   .pull-right > li > a {
	  padding: 15px 5px;
	}
 
   .navbar-brand {
	   padding: 13px 15px;
    }
	
	.btn-contact {
		margin: 5px 0 0 15px;
		color: #fff;
		background-color: #a90003;
		border-color: #fff;
		border-radius: 4px;
	}
	
	.btn-contact:hover, .btn-contact:focus, .btn-contact:active, .btn-contact.active {
		background-color: #282828;
		border-color: #fff;
	}
	
	.btn-print .btn-web{
		display: inline-block;
		vertical-align: top;
	}
	
	
	
/* --------------------------------------
   Carousel
   -------------------------------------- */

	#myCarousel {
	margin-top: 60px;
    }	
	.carousel-caption {
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 18px;
	}
	
	.carousel-caption h4 {
		font-size: 26px;
	}
	
	#myCarousel .item { 
		height: 400px;
		 
	}
	
	.carousel-control.left, .carousel-control.right {
    	background-image: none
	}
	
	#slide1 {
		background: url('../images/carousel_medium_01.png') top center no-repeat;
	}
	
	#slide2 {
		background: url('../images/carousel_medium_02.png') top center no-repeat;
	}
	
	#slide3 {
		background: url('../images/carousel_medium_03.png') top center no-repeat;
	}
	
	#slide4 {
		background: url('../images/carousel_medium_04.png') top center no-repeat;
	}

	.btn-carousel {
		color: #fff;
		background-color: transparent;
		border-color: #fff;
		border-radius: 0px;
		padding: 3px;
	}
	
	.btn-carousel:hover, .btn-carousel:focus, .btn-carousel:active, .btn-carousel.active {
		background-color: #a90003;
		border-color: #fff;
	}
	
	
	
/* --------------------------------------
   Header
   -------------------------------------- */
   
	#myHeader {
		margin-top: 60px;
	}
	
	#myHeader .item {
		height: 185px;
	}
	
	#blog {
		background: url('../images/blog_header_medium.png') top center no-repeat;
	}	

	#client {
		background: url('../images/client_header_medium.png') top center no-repeat;
	}	
	
	#print {
		background: url('../images/print_header_medium.png') top center no-repeat;
	}	

	#web {
		background: url('../images/web_header_medium.png') top center no-repeat;
	}
	
	#webdev {
		background: url('../images/webdev_header_medium.png') top center no-repeat;
	}
	
	
	
	
/* --------------------------------------
   Features
   -------------------------------------- */
	#features {
		text-align: center;
		
	}
	
	#features img {
		margin: 0 0 20px;
	}
	
	.panel {
		background-color: #333;
		margin-bottom: 10px;	
	}
		
	.panel-heading {
		color: #fff;
		background-color: #282828;
	}

	.panel-footer {
		background: #959595;
		color: #fff;
		border-top: 1px solid #fff;
	}
		
	.clients-even {
		background-color:#595959;
	}
	
	.btn-feature {
		color: #fff;
		background-color: #282828;
		border-color: #fff;
	}
	
	.btn-feature:hover, .btn-feature:focus, .btn-feature:active, .btn-feature.active {
		color: #fff;
		background-color: #a90003;
		border-color: #FFF;
	}
	
	/* --------- Web ----------*/
	 	
	.web-thumbnail>img {
		margin-right: auto;
		margin-left: auto;
	}
	.web-thumbnail>img, .img-web-thumbnail {
		display: inline-block;
		height: auto;
		max-width: 100%;
	}
	/* --------- Print ----------*/
	
	#gallery {
		text-align: center;
	}
	
	.print-thumbnail{
		text-align: center;
	}
	
	.print-thumbnail>a>img {
		max-width: 100%;
	}
	
	
	
	
			
/*  --------------------------------------
   Global Styles
   -------------------------------------- */
	body {
		background: url('../images/background.jpg') top center repeat;
	}

	.well {
		margin: 10px 0;
	}
		
	.btn-contact-btm {
		color: #fff;
		background-color: #a90003;
		border-color: #fff;
		margin: 0;
	}
	
	
	
	
		
/*   -----------------------------------
	 Hidden Social Icon Panel 
	 -----------------------------------*/	
	.socialbar {
		margin-bottom: 20px;
	}
	.socialbar ul {
	text-align: center;
	padding: 0;
	margin: 0;
	}
		
	.socialbar li {
	display: inline;
	}	
		
   .socialbar li a {
  	display: inline-block;
  	color:#fff;
  	padding: 0 15px;
   }
   
   
   
   
   
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	.hidden-xs {
	    display: none !important;
	}
	tr.hidden-xs {
	    display: none !important;
    }
	th.hidden-xs,
	td.hidden-xs {
	    display: none !important;
	}
	
	#myCarousel .item { 
	height: 200px; 
	}
	
	#slide1 {
		background: url('../images/carousel_xsmall_01.png') top center no-repeat;
	}
	
	#slide2 {
		background: url('../images/carousel_xsmall_02.png') top center no-repeat;
	}
	
	#slide3 {
		background: url('../images/carousel_xsmall_03.png') top center no-repeat;
	}
	
	#slide4 {
		background: url('../images/carousel_xsmall_04.png') top center no-repeat;
	}
	
/* ----- Headers----- */
	
	#myHeader .item {
		height: 140px;	
	}

	#blog {
		background: url('../images/blog_header_xsmall.png') top center no-repeat;
	}

	#client {
		background: url('../images/client_header_xsmall.png') top center no-repeat;
	}
	
	#print {
		background: url('../images/print_header_xsmall.png') top center no-repeat;
	}	

	#web {
		background: url('../images/web_header_xsmall.png') top center no-repeat;
	}	
	
	#webdev {
		background: url('../images/webdev_header_xsmall.png') top center no-repeat;
	}	

	
	.dl-horizontal dt{
		width: 30%;
	}	
	
	.dl-horizontal dd{
		margin-left: 35%;
	}	


	}

@media (min-width: 481px) and (max-width: 767px) {
	#change{
		float:left;
		width: 50%; 
	}
	
	#myCarousel .item { 
	height: 310px; 
	}
	
	#slide1 {
		background: url('../images/carousel_small_01.png') top center no-repeat;
	}
	
	#slide2 {
		background: url('../images/carousel_small_02.png') top center no-repeat;
	}
	
	#slide3 {
		background: url('../images/carousel_small_03.png') top center no-repeat;
	}
	
	#slide4 {
		background: url('../images/carousel_small_04.png') top center no-repeat;
	}
	
	.carousel-caption {
		font-size: 14px;
	}
	
	.carousel-caption h4 {
		font-size: 16px;
	}

	/* ----- Headers----- */

	#myHeader .item {
		height: 143px;	
	}
		
	#blog {
		background: url('../images/blog_header_small.png') top center no-repeat;
	}

	#client {
		background: url('../images/client_header_small.png') top center no-repeat;
	}
	
	#print {
		background: url('../images/print_header_small.png') top center no-repeat;
	}	

	#web {
		background: url('../images/web_header_small.png') top center no-repeat;
	}	

	#webdev {
		background: url('../images/webdev_header_small.png') top center no-repeat;
	}
	
	.dl-horizontal dt{
		width: 35%;
	}	
	
	.dl-horizontal dd{
		margin-left: 40%;
	}	

}


@media (min-width: 768px) and (max-width: 1199px) {
	#myCarousel .item { 
		height: 400px;	 
	}
	
	#slide1 {
		background: url('../images/carousel_medium_01.png') top center no-repeat;
	}
	
	#slide2 {
		background: url('../images/carousel_medium_02.png') top center no-repeat;
	}
	
	#slide3 {
		background: url('../images/carousel_medium_03.png') top center no-repeat;
	}
	
	#slide4 {
		background: url('../images/carousel_medium_04.png') top center no-repeat;
	}
	
	/* ----- Headers----- */
	
	#myheader .item {
		height: 185px;
	}
	
	#blog {
		background: url('../images/blog_header_medium.png') top center no-repeat;
	}

	#client {
		background: url('../images/client_header_medium.png') top center no-repeat;
	}
	
	#print {
		background: url('../images/print_header_medium.png') top center no-repeat;
	}	

	#web {
		background: url('../images/web_header_medium.png') top center no-repeat;
	}

	#webdev {
		background: url('../images/webdev_header_medium.png') top center no-repeat;
	}
	
	.dl-horizontal dt{
		width: 32%;
	}	
	
	.dl-horizontal dd{
		margin-left: 40%;
	}	

}



/* Large desktop */
@media (min-width: 1200px) {
	
	#myCarousel .item { 
	height: 500px; 
	}
	
	#slide1 {
		background: url('../images/carousel_large_01.png') top center no-repeat;
	}
	
	#slide2 {
		background: url('../images/carousel_large_02.png') top center no-repeat;
	}
	
	#slide3 {
		background: url('../images/carousel_large_03.png') top center no-repeat;
	}
	
	#slide4 {
		background: url('../images/carousel_large_04.png') top center no-repeat;
	}

	/* ----- Headers----- */
	#myHeader .item {
		height: 230px;	
	}
	
	#blog {
		background: url('../images/blog_header_large.png') top center no-repeat;
	}

	#client {
		background: url('../images/client_header_large.png') top center no-repeat;
	}
	
	#print {
		background: url('../images/print_header_large.png') top center no-repeat;
	}	

	#web {
		background: url('../images/web_header_large.png') top center no-repeat;
	}	

	#webdev {
		background: url('../images/webdev_header_large.png') top center no-repeat;
	}
	
}